<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
</head>
<body>

<h1>Calculator:</h1>
<form action="#" th:action="@{/calculator}" th:object="${operationModel}" method="POST">
    <input type="text" th:field="*{a}"/>
    <input type="text" th:field="*{b}"/>
    <p>
        <input type="submit" class="button" name="add" value="+"/>
        <input type="submit" class="button" name="subtract" value="-"/>
        <input type="submit" class="button" name="multiply" value="*"/>
        <input type="submit" class="button" name="divide" value="/"/>
        <input type="submit" class="button" name="clearSimple" value="C"/>
    </p>
    <h1><p th:text="'result: ' + ${result}"/></h1>
</form>
</body>
</html>